@import 'tailwindcss';
@plugin "@tailwindcss/forms";

@theme {
    --color-primary: rgba(67, 142, 255, 1);
    --color-primary-hover: rgba(67, 142, 255, 0.8);
    --color-alternate: rgba(20, 24, 33, 0.75);
    --color-alternate-opaque: rgba(20, 24, 33, 0.25);
    --color-text: rgba(20, 24, 33, 1);
    --color-light-blue: rgba(239, 242, 247, 1);
    --color-input-icon-color: rgba(243, 246, 249, 1);
}

html, * {
    font-family: Gantari;
    font-optical-sizing: auto;
    font-style: normal;
}

#app {
    height: 100%;
    min-height: 100vh;
    color: rgba(20, 24, 33, 1);
}
